@import '../../../../styles.scss';


.overlay {
    position: absolute;
    z-index: 1002;
    width: 100%;
}

.animate {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin: auto;
    font-family: monospace;
    color: $text-color;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;

    @keyframes load {
        0% {
            opacity: 0.08;
            font-size: 1rem;
            font-weight: 400;
            filter: blur(5px);
            letter-spacing: 3px;
        }

        100% {
            opacity: 1;
            font-size: 1.4rem;
            font-weight: 600;
            filter: blur(0);
        }
    }
}