$base-color: #1d2448;
$base-color-lighter: #273162;
$base-color-lighter-2: #2e3a7a;
$base-color-darker: #1a1f3d;
$base-color-lighter-input: #262c4a;
$border-color: #414974;
$text-color: #dddddd;

body {
    background-color: $base-color;
    font-family: monospace;
    display: block;
    justify-content: center;
    align-items: center;
}

.particles-js-canvas-el {
    position: fixed;
    top: 0;
    z-index: -1;
}


#toast-container {
    opacity: 70%;
    box-shadow: none;
    font-size: 1.0rem;
}

#toast-container>.toast-error {
    background-image: none;
    background-color: #cf5858;
    box-shadow: none;

}

#toast-container>.toast-success {
    background-image: none;
    background-color: #2eae67;
    box-shadow: none;

}

#toast-container>.toast-info {
    background-image: none;
    background-color: #256c95;
    box-shadow: none;

}

#toast-container .ngx-toastr:hover {
    box-shadow: none;
    opacity: 100%;
    cursor: pointer;
}

.toast-top-full-width {
    margin-top: 4.3rem;
}


::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: $base-color-lighter;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $base-color-lighter;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: monospace
}

html {
    font-size: 20px;
}

@media (max-width: 900px) {
    html {
        font-size: 14px;
    }
}


@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 10px;
    }
}