<div>
    <app-price-bar></app-price-bar>
    <app-loading></app-loading>
    <div class="inline-container">
        <div class="container col-9" *ngIf="dataSource$ | async as dataSource">
            <div class="amount-container">
                <div class="horizontal-amount-list col-9">
                    <div class="icon-item">
                        <app-crypto-icon [text]="'Ethereum'"></app-crypto-icon>
                    </div>
                    <div class="symbol-item">
                        <h3>{{ amountData[0] }}</h3>
                    </div>
                    <div class="amount-item">
                        <h3>{{ amountData[1] }}</h3>
                    </div>
                    <div class="amount-item">
                        <h3 class="total-value">{{ amountData[2] }}</h3>
                    </div>
                </div>
            </div>
            <div class="table-action-container">
                <button class="table-action-button" style="vertical-align:middle" (click)="toggleView()">
                    <i class="material-icons">autorenew</i>
                    <span></span>
                </button>
            </div>
            <div class="table-new-container">
                <div class="table">
                    <div class="table-header">
                        <div *ngIf="showDetails === 1" class="table-header-cell">Address</div>
                        <div *ngIf="showDetails === 1" class="table-header-cell">Amount</div>
                        <div *ngIf="showDetails === 1" class="table-header-cell">Value</div>
                        <div *ngIf="showDetails === 2" class="table-header-cell">1h</div>
                        <div *ngIf="showDetails === 2" class="table-header-cell">24h</div>
                        <div *ngIf="showDetails === 2" class="table-header-cell">7d</div>
                        <div *ngIf="showDetails === 3" class="table-header-cell">30d</div>
                        <div *ngIf="showDetails === 3" class="table-header-cell">60d</div>
                        <div *ngIf="showDetails === 3" class="table-header-cell">90d</div>
                        <div class="table-header-cell-explorer"></div>
                    </div>
                    <ng-container *ngFor="let userBalance of rows">
                        <div class="table-row">
                            <div *ngIf="showDetails === 1" class="table-cell">{{ userBalance.walletAddress }}</div>
                            <div *ngIf="showDetails === 1" class="table-cell">{{ userBalance.quantity }}</div>
                            <div *ngIf="showDetails === 1" class="table-cell">{{ userBalance.balance }}</div>
                            <div *ngIf="showDetails === 2" class="table-cell"
                                [ngStyle]="{'color': getColor(userBalance.balance, userBalance.balance1h)}">{{
                                userBalance.balance1h }}</div>
                            <div *ngIf="showDetails === 2" class="table-cell"
                                [ngStyle]="{'color': getColor(userBalance.balance, userBalance.balance24h)}">{{
                                userBalance.balance24h }}</div>
                            <div *ngIf="showDetails === 2" class="table-cell"
                                [ngStyle]="{'color': getColor(userBalance.balance, userBalance.balance7d)}">{{
                                userBalance.balance7d }}</div>
                            <div *ngIf="showDetails === 3" class="table-cell"
                                [ngStyle]="{'color': getColor(userBalance.balance, userBalance.balance30d)}">{{
                                userBalance.balance30d }}</div>
                            <div *ngIf="showDetails === 3" class="table-cell"
                                [ngStyle]="{'color': getColor(userBalance.balance, userBalance.balance60d)}">{{
                                userBalance.balance60d }}</div>
                            <div *ngIf="showDetails === 3" class="table-cell"
                                [ngStyle]="{'color': getColor(userBalance.balance, userBalance.balance90d)}">{{
                                userBalance.balance90d }}</div>
                            <a class="table-cell-explorer" target="_blank" [href]="userBalance.walletExplorer">
                                <mat-icon class="icon-open-explorer">open_in_new</mat-icon>
                            </a>
                        </div>
                        <br class="row-divider" />
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>